
@import url("root.css");
/* navbar  */


::-webkit-scrollbar{
  display: none;
}
/* frist-section  */


.first-section > .section-content {
  height: 20%;
  width: 100%;
  
  
  display: flex;
  flex-direction: row;
}
.first-section>.section-content>.button-container{
  
  height: 50%;
  width:  30%;

}
.first-section>.section-content>.title-container{

  height: 50%;
  width:  70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-section>.section-content>.title-container span{
  font-weight:600;
  font-size: 5vw;
  margin-top: 5%;
  margin-right: 0%;
}
.first-section>.section-content>.button-container button{
  margin-top: 10vh;
  margin-left: 10vw;
  
}
.first-section .text-content{
  height: 40%;

  font-weight: 600;
  font-size: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-section .text-content span:first-child{
  margin-top: 5%;
  
}
.first-section >  .money-content {

  text-align: center;
  height: 40%;
color: var(--main);
  font-weight: 700;
  font-size: 7em;
}
#calendar{
  background-color: var(--main);
  font-weight: 700;
  z-index: 2;
  color: var(--secondary);
  position: absolute;
  border: 1px solid var(--main);
  left : 22%;
  top:11%;
  width: 60%;
}
#calendar div.fc-toolbar-chunk button{
  background-color: var(--secondary);
  color: var(--main);
  font-weight: 900;
  text-transform: uppercase;
  opacity: 1;
  border-left: 1px solid var(--main);

}
#calendar div.fc-toolbar-chunk button:focus{

  box-shadow: none;
  outline: none;
}
#calendar div.fc-toolbar-chunk button span{
  font-weight: 900;
}
#calendar th{
  border: 0.5px solid var(--secondary);
}
#calendar td.fc-daygrid-day{
  border: 0.5px solid var(--main);

}

#calendar .fc-scrollgrid-sync-inner a{
  text-decoration: none;
  color: var(--secondary);
}
#calendar .fc-daygrid-day-frame{
  cursor: pointer;
}
#calendar a.fc-daygrid-day-number{
  
  color: var(--main);
  font-weight: 700;
}
#calendar .fc-header-toolbar {
  background-color: var(--main);
}
#calendar .fc-daygrid-day-frame{
  background-color: var(--secondary);

}
#calendar .fc-event-main{
  cursor: pointer;
  border: 0;
  color: black;

}

/* second-section  */
 
.section-content > .button-content {
  margin-top: 10vh;
}

.second-section
{
  background-color: var(--secondary);
  height: 100%;
  width: 100%;
  display: flex;



}
.second-section .options-section{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--secondarySub) ;
  border-radius: 15px;
  padding:0 2%;
  height: 80%;
  margin-left: 5%;
  margin-top: 5%;
}
.second-section .options-section div{
  margin-top: 10%;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  font-size: 2vh;
}
.second-section .options-section a
{
  
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--main);
  font-weight: 700;
  transition: all 0.3s ease;
}
.second-section .options-section a:hover
{
  color: var(--secondary);

}


/* chart */
.second-section .chart-section{
  
  width: 85%;
  margin-left: 5%;


}


/* chart - main section */

.chart-section .chart-main-section{
  height: 63%;
  background-color:var(--secondarySub)  ;
  border-radius: 15px;
  margin-top: 5vh;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* chart - diagram - section */
.chart-main-section .diagram-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 50%;
  margin: 2em ;

}


/* chart - statistic - section */
.chart-main-section .statistic-section{

  width: 50%;
  margin : 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.chart-main-section .statistic-section .stat-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.chart-main-section .statistic-section .stat-container div{
  position: relative;
  top: auto;
  display: flex;
  flex-direction: row;


}
.chart-main-section .statistic-section span{
  font-size: 2vw;
  font-weight: 600;
  margin-left: 5%;
}

/* third-section */
.third-section {
  background-color: var(--third);

  display: flex;
  flex-direction: row;
  width: 100%;
}

.third-section > .third-section-main {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.third-section-main > .left {
  width: 35%;

  text-align: center;

}

.third-section-main > .right {
  width: 65%;
  

}
.third-section-main > .right > .title-section{
  margin-left: 20vw;
  width: 100%;
  height: 30%;
}

.third-section-main > .right > .category-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 90%;
  height: 60%;
  font-size: 2vw;
  font-weight: 700;
  vertical-align: middle;
  
}
.category-section a {
  text-decoration: none;
  color: var(--main);
}

.modal-dialog.modal-dialog-centered {
  width: 60vw;
  max-width: 100vw;
}

.modal-content{
  
  height: 70vh;
  
  
} 
.modal-content .title-section{

  height: 20%;
display: flex;
flex-direction: row;
justify-content: space-between;

} 
.modal-content .title-section h3{
  
  font-size: 3vw;
  font-weight: 700;
}
.modal-content .title-section button{
  margin-right: 4vw;
  margin-top: 2%;

}
#deadEventModal .modal-content .subtitle-section {
  height: 20%;
}
#deadEventModal .modal-content .subtitle-section {
  height: 10%;
}

#deadEventModal form input,select{
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #dedede;

}
#deadEventModal form select {
  -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
#deadEventModal form select:disabled{
  color:var(--main)
}



.modal-card{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 10%;
  margin-left: 10%;
}



#savingItemModal .add-saving-item-form {
  height: 60%;
  transition: all 1s ease;
}
#savingItemModal .add-saving-item-form form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
} 
#savingItemModal .add-saving-item-form form div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}

#savingItemModal .add-saving-item-form form input,select{
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #dedede;

}
#savingItemModal .saving-list-section{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#savingItemModal .add-saving-item-form form input.submit{
  margin-top: 5%;
  background: fixed;
  background-color: var(--main);
  color: var(--primary);
  font-weight: 500;
  font-size: 2vw;


}
#savingItemModal .saving-list-section form input,select{
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #dedede;

}

#savingItemModal .saving-list-section form select {
  -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
#savingItemModal .saving-list-section div:last-child{
  margin-bottom: 5%;
}
#savingItemModal .saving-list-section form select:disabled{
  color:var(--main)
}



#categorySelectionModal .category-list{
  display: flex;
  flex-direction: row;
  height: 60%;
  justify-content: center;
  width: 100%;
}
#categorySelectionModal .category-list .left{
  display: flex;
  flex-direction: column;
  width: 100%; 
  border: 1px solid gray;

}
#categorySelectionModal .category-list .center{
  display: flex;
  flex-direction: column;
  width: 10%; 

  text-align: center;
  justify-content: center;
}
#categorySelectionModal .category-list .center .verticalline{
  margin: 50%;
  
  height: 40%;
  border-left:  1px solid black;
}
#categorySelectionModal .category-list .right{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid gray;
}
#categorySelectionModalContainer .modal-card div.submit{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
   
}

#categorySelectionModal .category-list span{
  background-color: var(--primary);
  font-weight: 600;
  padding: 1% 15%;
  border-radius: 5px;


}
#categorySelectionModal .category-list a{
  margin-left: 5%;
  text-decoration: none;
  color: grey;
}
#categorySelectionModal .category-list .category-box,.selected-category-box{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}
#categorySelectionModal .category-list .category-box div{
  margin: 1% 4% ;
  cursor: pointer;
  width: 100px;
}
#categorySelectionModal .category-list .selected-category-box>div {
  margin: 2% 8%;

  
  cursor: pointer;

}