@import url("root.css");


/* section  */
.first-section {
  text-align: center;
}
.first-section > .section-content {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.section-content > .text-content {
  margin-top: 40vh;
  
}
.section-content > .text-content *{
  color: var(--main);
  font-weight: 700;
}
.section-content > .button-content {
  margin-top: 10vh;
}

.second-section
{
  background-color: var(--secondary);
  width: 100%;
  height: 100vh;
}
.third-section {
  background-color: var(--third);
}

.third-section > .third-section-main {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.third-section-main > .left {
  width: 50%;
  text-align: center;
}
.third-section-main > .left > .left-imagesection > img {
  margin-top: 5em;
  width: 250px;
  height: 450px;
}
.third-section-main > .right {
  width: 50%;

}
.third-section-main > .right > .right-introduction {
  margin-top: 10em;
  color: var(--main);
}
.right-introduction > h1 {
  font-weight: 700;
  font-size: 3em;
}
.right-introduction > p {
  font-weight: 700;
  font-size: 1em;
}
.third-section-main > .right > .right-imagesection > input {
  width: 154px;
  height: 50px;
  margin-left: 10%;
}


/* modal  */
#loginModalContainer {
  max-width: none;
  width: 60%;

}
#signupModalContainer {
  max-width: none;
  width: 60%;
}
.modal-content {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  border-radius: 10px;

}
.modal-content * {
  font-weight: 600;
}
.modal-content > .modalImageContainer {
  width: 40%;
}
.modalFormContainer {
  margin: 2em;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  justify-content: space-between;
}
.modalImageContainer > img {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}
.modalFormContainer h2 {
  margin-bottom: 2em;
}
.modal-form {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

.modal-form > div > p {
  margin-left: 0.5em;

  font-size: 13px;
  font-weight: 400;
}
.modal-form > div > p > a {
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}
.modal-form input {
  width: 95%;
  border: none;
  margin-bottom: 2em;
  background: transparent;
  border-bottom: 1px solid#dedede;
  outline: none;
}
@media screen and (min-width: 769px) {
  .buttonGroup {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }

  .buttonGroup > button {
    margin-right: 2em;
  }
}

@media screen and (max-width: 768px) {
  .buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
  }
  .buttonGroup > button {
    margin-bottom: 2em;
    margin-right: none;
  }
}
.buttonGroup > button {
  text-align: center;
  flex: 0 45px 183px;

  width: 183px;
  height: 45px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.buttonGroup > button > span {
  width: 20%;
  padding: auto;
  margin: auto;
}
.buttonGroup > button > b {
  margin-top: 0.5em;
  margin-right: 1em;
  width: 80%;
  font-size: 17px;
}
